In [54]:
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn import linear_model

In [55]:
data=pd.read_csv('data.csv')

In [56]:
data.head()

,Location,Latitude,Longitude,Elevation,Skycover,Orientation,Tilt,ACenergyPerYear,img
0,Ardabil,38.317,48.417,1332.0,6.031665,-45,0,267.981217,LocationArdabilAP_AR_IRN_Latitude38.317_Longit...
1,Ardabil,38.317,48.417,1332.0,6.031665,-35,0,289.396595,LocationArdabilAP_AR_IRN_Latitude38.317_Longit...
2,Ardabil,38.317,48.417,1332.0,6.031665,-25,0,309.203211,LocationArdabilAP_AR_IRN_Latitude38.317_Longit...
3,Ardabil,38.317,48.417,1332.0,6.031665,-15,0,324.975573,LocationArdabilAP_AR_IRN_Latitude38.317_Longit...
4,Ardabil,38.317,48.417,1332.0,6.031665,-5,0,334.305725,LocationArdabilAP_AR_IRN_Latitude38.317_Longit...

In [57]:
data=data[['Latitude','Longitude','Elevation','Skycover','Orientation','Tilt','ACenergyPerYear']]

In [58]:
data.head()

,Latitude,Longitude,Elevation,Skycover,Orientation,Tilt,ACenergyPerYear
0,38.317,48.417,1332.0,6.031665,-45,0,267.981217
1,38.317,48.417,1332.0,6.031665,-35,0,289.396595
2,38.317,48.417,1332.0,6.031665,-25,0,309.203211
3,38.317,48.417,1332.0,6.031665,-15,0,324.975573
4,38.317,48.417,1332.0,6.031665,-5,0,334.305725

In [105]:
predict='ACenergyPerYear'

In [106]:
X=np.array(data.drop([predict],1))

In [107]:
y=np.array(data[predict])

In [144]:
acc1=0
for i in range(1000):
    X_train,X_test,y_train,y_test=sklearn.model_selection.train_test_split(X,y,test_size=0.2)
    linear=linear_model.LinearRegression()
    linear.fit(X_test,y_test)
    acc=linear.score(X_test,y_test)
    if acc>acc1:
        acc1=acc

In [145]:
acc1

0.7165279207481191